*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 248, 247);
}
.main-form{
    min-width: 600px;
    margin-block: 30px;
}
.form-div{
    background-color: white;
    padding-inline: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-block: 15px;
    border: 1px solid rgb(190, 190, 190);
    position: relative;
}
.heading{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.text-input label{
    font-size: 17px;
}
.text-input input{
    border: none;
    border-bottom: 1px solid black;
    width: 70%;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 6px;
    padding-bottom: 5px;
}
.text-input textarea{
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: blue; 
  }

.radio-btn{
    font-size: 20px;
    cursor: pointer;
}
.form-div .radio-label{
    padding-bottom: 10px;
}
.btn{
    padding: 5px 15px;
    color: blue;
    font-size: 15px;
    background-color: white;
    border: 1px solid rgb(180, 179, 179);
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.3s;
}
.btn:hover{
    background-color: rgb(77, 77, 255);
    color: white;
}

select {
    appearance: none;       
    -webkit-appearance: none; 
    -moz-appearance: none;    
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fafafa;
    color: #333;
    margin-top: 15px;
  }

  select:focus {
    outline: none;
    border-color: #1a73e8;
    box-shadow: 0 0 3px rgba(26, 115, 232, 0.4);
  }
.arrow{
    transform: rotate(90deg);
    position: absolute;
    top: 61px;
    left: 225px;
}
